/* No arquivo styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    
    
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3); /* Cor branca com 90% de opacidade */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

form {
    max-width: 100%;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background-color: #3498db;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #2980b9;
}

h2 {
    font-weight: bold; /* Deixa o texto em negrito */
    color: #333; /* Cor do texto */
    text-align: center; /* Centraliza o texto */  
    
}
